* {
    box-sizing: border-box;
}
.budget{
    color: green;
    font-weight: bold;
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
}
h1{
    color: #183153;
    text-align: center;
}
h2{
    color: #183153;
    font-size: 30px;
}
p{
    color: #222222;
    font-size: 20px;
}
.facts-card p {
  font-size: 15px;  
}
img{
    width: 100%;
    max-width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: lightblue;
}
footer p {
    color: #222222;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
    justify-content: center;
    color: white;
}
nav {
    background-color: #183153;
    padding: 15px;
}
main {
    max-width: 900px;
    margin: 0 auto;
}
.card, .destination-card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0 4px 20px #cccccc;
}
.destination-card a {
    background-color: #2878b5;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: auto;
}
.card {
    margin: 20px 0;
    width: 100%;
}
.destination-card {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.featured {
    background-color: lightyellow;
}
.destination-grid {
    display: flex;
    gap: 30px;
}
body {
    background-color: #f4f6f8;
}
.facts-card h3 {
  font-size: 25px;  
}
.hero{
    background-color: beige;
    padding: 50px;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    max-width: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.quick-facts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.facts-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    flex:1;
    box-shadow: 0 4px 20px #89d0da;
}
.facts-card:hover {
    background-color: rgba(198, 214, 166, 0.5);
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .destination-grid {
        flex-direction: column;
        gap: 10px;
    }
    .quick-facts {
        flex-direction: column;
        gap: 5px;
    }
}
